
/* Your CSS Code here. */

.holder{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
}

.item-1{
	background-color:green;
	height:50px;
	width:50px;
}

.item-2{
	background-color:red;
	height:50px;
	width:50px;
	
}
.item-3{
	background-color:blue;
	height:50px;
	width:50px;
}